<main class="center-margin">
  <div class="grid-main">
    <%- include('main/highlights.ejs') %>
      <%- include('main/info-area.ejs') %>
        <%- include('main/products.ejs') %>
          <%- include('main/customer-reviews.ejs') %>
            <div class="container-about bg-color">
              <%- include('main-about.ejs') %>
            </div>
            <%- include('main/digital-menu.ejs') %>
  </div>
</main>