<main class="center-margin">
    <div class="grid-main">
        <%- include('main/highlights.ejs') %>
        <%- include('main/info-area.ejs') %>
        <%- include('main/products.ejs') %>
        <%- include('main/customer-reviews.ejs') %>
        <%- include('main/digital-menu.ejs') %>
    </div>
</main>