<%- include('includes/head') %>
  <%- include('includes/header') %>
    <main class="bg-color">
      <%- include('includes/main-about') %>
    </main>
    <%- include('includes/footer') %>
      <%- include('includes/end-footer') %>